* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    overflow-x: hidden ;
    margin: 0;
    padding: 0;
  }
  

body{
    /* min-width: 320px; */
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
}

@font-face {
    font-family: "icon";
    src: url(font/icons.ttf);
}

@font-face {
    font-family: "Bregular";
    src: url(font/beosupremeregular.woff2);
}

@font-face {
    font-family: "Bmedium";
    src: url(font/beosuprememedium.woff2);
}


.head-2.header-o{
    position: fixed;
    width: 100%;
    height: 0px;
    left: 0px;
    z-index: 91;
}


.head-2.header-o .header-primary{
    position: relative;
    background-color:rgb(255, 255, 255);
    z-index: 1;
    /* transition: background-color 300ms ease-out; */
}

.head-2.header-o .header-content{
    height: 85px;
    width: 100%;
    margin: 0px auto;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 1rem;
   
  
}

.hk-btn.a-nav-toggle{
    position: relative;
    background: none;
    height: 18px;
   
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px;
}

.htgDld.a-svgIcon{
    height: 100%;
    width: 100%;
  
}

.hk-btn.a-nav-toggle .close-icon{
    display: none;
} 

.hk-btn.a-nav-toggle em{
    display: block;
    position: relative;
    text-indent: -999px;
    width: 20px;
    height: 1.5px;
    margin-top: -9px;
    margin-right: 11px;
    background: rgb(25, 24, 23);
}

.hk-btn.a-nav-toggle em::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(25, 24, 23);
    position: absolute;
    left: 0px;
    top: 8px;
}

button, a, input{
    border: none;
}

button, input, optgroup, select, textarea{
    border-radius: 0px;
    font-family: "Bregular";
    letter-spacing: inherit;
}

button, input, optgroup, select, textarea{
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, select{
    text-transform: none;
}

button, input{
    overflow: visible;
}

p{
    font-size: 1rem;
    line-height: 1.625;
    letter-spacing: 0.4px;
    color: rgb(85, 85, 85);
    margin: 0px;
    /* white-space: pre-wrap; */
}

.hk-btn.a-nav-toggle .menu-label{
    color: rgb(25, 24, 23);
}

/* .b3{
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.1px;
    font-weight: 400;
} */

.head-2.header-o .header-content .header-log{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.jasv.header-log{
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: -1;
}

.head-2.header-o .header-content .header-log a{
    padding: 0px;
}

/* .jasv.header-log .transEffect{
    transition: max-height 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);

} */
.jasv.header-log a{
    padding: 15px 14px 15px 0px;
    display: block;
}

.hDb{
    cursor: pointer;
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.jasv.header-log .h2{
    margin: 0px;
    font-size: 0rem;
    line-height: 1;
}

.h2{
    color: rgb(25, 24, 23);
}

h2, .h2{
    font-size: 2rem;
    line-height: 2.625rem;
    letter-spacing: -0.5px;
    font-weight: 400;
}

.jasv.header-log .logo{
    width: 42px;
    height: 42px;
    max-height: 80px;
    display: flex;
    margin: auto;
}

.jasv.header-log img{
    width: 32px;
    height: 32px;
    transition: 0.3s ease-in;
}

/* img{
    max-width: 100%;
    border-style: none;
} */



.jasv.header-log .textContainer{
    width: 42px;
    height: 14px;
    font-size: 9px;
    text-align: center;
    margin-top: 4px;
}

.head-2.header-o .header-primary .icon-store-cart{
    display: flex;
    align-items: center;
    order: 1;
    margin-left: auto;
}
.head-2.header-o .header-primary .search-profile-cart{
    display: flex;
}

/* .guY.header-cart img{
    display: block;
    height: 32px;
    width: 32px;
}

.guY.header-cart {
    width: 32px;
    height: 32px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 */

 /* .guY.header-cart {
    width: 32px;
    height: 32px;
    overflow-x: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  /* .guY.header-cart img {
    width: 32px;
    height: 32px;
    display: block;
  } */
  

/* .cnd .header-o.head-4{
    top: 0px;
} */

/* .head-2.header-o.head-4 {
    transform: translateY(0px);
    transition: transform 400msease-in-out;
} */

.main-wrapper{
    background-color: rgb(255, 255, 255);
    margin-top: 0px;

}

.main-wrapper.iscategory{
    padding-top: 80px;
    
}

.kSepker.filterCate{
    overflow: hidden;
    /* transition: max-height 1200mscubic-bezier(0.165, 0.84, 0.44, 1); */
}

.kSepker.filterCate .product-o.-use-margin{
    margin-top: 0px;
    margin-bottom: 44px;
}

.dfs.on-catepage{
    display: flex;
    align-items: center;
}

.bpz.a-container{
    width: 100%;
    max-width: 1512px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
}

.dfs.m-catetitle .t-category-wrapper{
    background-color: rgb(255, 255, 255);
    padding-top: 16px;
    padding-bottom: 16px;
}

.row{
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.375rem;
    margin-left: -.375rem;
}



.roww{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-left: -.375rem;
    margin-right: -.375rem; */
}


.col-x{
    box-sizing: border-box;
    flex: 0 0 auto;
    /* padding-right: .375rem;
    padding-left: .375rem; */
}

[class*=col-]>[class*=col-] {
    padding: 0px;
}

.dfs.m-catetitle .count-container{
    display: flex;
    align-items: center;
}

.dfs.m-catetitle .count {
    width: 32px;
    /* height: 18px; */
    margin-left: 16px;
    padding-bottom: 3px;
}


.h6 {
    font: 400 0.625rem / 1.125rem Bregular;
    letter-spacing: 2px;
    color: rgb(25, 24, 23);
}
.dfs.m-catetitle .no-margin{
    margin: 0px;
}

.kSepker.filterCate .no-margin{
    margin: 0px;
}

.h4{
    color: rgb(25, 24, 23);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    font-family: "Bregular" ;
}

.fH.m-filter.m-subcat.bg-color{
    background: rgb(255, 255, 255);
    margin-top: 0px;
}

.fH.m-filter.m-subcat.bg-color.a-container{
    /* margin-top: 20px; */
    margin-bottom: 0px;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.large{
    width: 100%;
    margin-left: auto;
    
}

.fH.m-filter{
    position: relative;
}

.fH.m-filter.m-subcat .m-filtertab.no-border{
    border: unset;
    padding: unset;
} 
.fH.m-filter.m-subcat .m-filtertab{
    max-width: 1512px;
    margin: auto;
}

.fH.m-filter.m-subcat .navbar-container{
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.fH.m-filter.m-subcat .m-filtertab_list.new-padding{
    padding-top: 16px;
    padding-bottom: 8px;
    flex-wrap: unset;
}

.fH.m-filter.m-subcat .m-filtertab_list{
    display: flex;
    justify-content: left;
    padding: 32px 0px;
    /* overflow: unset;
    position: relative; */
}

.fH.m-filter .navbar{
    align-items: center;
    margin: 0;
    list-style: none;
}

.fH.m-filter .gradinet-left{
    height: 24px;
    min-width: 16px;
    position: sticky;
    left: 0px;
    background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1
}

.fH.m-filter .gradinet-right{
    height: 24px;
    min-width: 50px;
    position: sticky;
    right:0px;
    background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
   
}

.cgk.no-margin{
    margin-top: 0px;
    margin-bottom: 3px;
}

.cgk.a-filterTab{
    display: block;
    overflow: hidden;
    margin-right: 32px;
    flex-shrink: 0;
}

.cgk.a-filterTab .a-filter-anchor{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0px;
    letter-spacing: 2px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    color: rgb(85, 85, 85)
}

h5, .h5{
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.cgk.a-filterTab .a-filter-anchor .filtertab-content .filtertab-text{
    background: rgb(255, 255, 255);
    color: rgb(25, 24, 23);
    text-align: left;
    font-size: 0.75rem;
    min-height: 26px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    letter-spacing: 2px;
    line-height: 1.125rem;
    font-family: "Bregular";
}

.fH.m-filter .nav-indicator{
    background: rgb(25, 24, 23);
    transition: 0.3s;
    position: absolute;
    bottom: 11px;
    height: 2px;
}

.cgk.padding-right{
    margin-right: 0px;
}

.dqz.product-o .-catePage{
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense; */
    margin-top: 30px;
}

ul.-noBullets.row{
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0px;
}

.dD .product-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.dD .content-container{
    width: 100%;
    position: relative;
}

.dD .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dD .product-card:not(.show-variants) .product-image {
    opacity: 1;
    transition: none;
    overflow: hidden;
}

.dD .product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aligntext{
    text-align: left;
    color: rgb(25, 24, 23);
    align-self: center;
    font-family: "Bregular";
}

.dqz.product-o .-catePage .gridp{
    /* grid-column: span 12; */
    margin: 8px;
    padding: 8px;
    background: rgb(250, 250, 250);
    min-width: 70vw;
}

.dqz.product-o .-catePage .gridp .gridp-card{
    max-width: 95%;
    max-height: unset;
}

.bfm.card-product{
    position: relative;
    display: block;
    padding: 16px 0px;
}

.bfm.card-product .responsive img {
    display: block;
    width: 100%;
    margin: 0px auto;
    padding: 0px 1px;
    height: 100%;
}

.bfm.card-product .responsive {
    height: 100%;
}

.kcm.a-observer{
    height: 100%;
} 

.chu.responsive img.-loaded{
    position: relative;
    opacity: 1;
}

.chu.responsive img{
    top: 0px;
    left: 0px;
}

.dD.product-wrap {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.bfm.card-product .slick-slide {
    height: 100%;
    overflow: hidden;
}

.bfm.card-product .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    background: rgb(250, 250, 250);
}

.bfm.card-product .slick-track {
    top: 0px;
    left: 0px;
    position: relative;
    display: flex;
} 

.product-info{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.product-info .product-details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.counts-container{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0px;
    justify-content: flex-end;
    max-height: 25px;
    align-self: flex-end;
    margin-left: auto;
}

.color-label{
    display: flex;
    margin: 0px;
    cursor: pointer;
}

.count-items{
    margin-left: 5px;
    margin-right: 10px;
}

.plus{
    width: 25px;
    height: 25px;
    margin-top: 4px;
}

.product-card-price{
    display: flex;
}

.product-cardprice{
    display: flex;
    justify-content: center;
    color: rgb(25, 24, 23);
    font-family: "Bregular";
}

.kSepker.filterCate .m-cate-obs{
    height: 7px;
}

.jnv.com-overlay{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252, 250, 238);
}

.jnv.text-icon{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.jnv.com-overlay .container{
    max-width: 900px;
}

.container{
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-right: auto;
}

.text-icon img.-large{
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}

.h5 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px 0px 20px;
    font-family: "Bregular";
    color: rgb(25, 24, 23);
}
.jnv.text-icon p{
    width: 100%;
}

.b1{
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: rgb(85, 85, 85);
    font-family: "Bregular";
}


.jnv.com-overlay form{
    padding-top: 20px;
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
}

legend{
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0px;
    padding: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
}

.jnv.com-overlay form .an-btn{
    margin: 0px;
}

.secondary.daf.secondary{
    padding: 8px 32px;
    border-radius: 40px;
    overflow: hidden;
    min-width: 140px;
    text-align: center;
    border-color: rgb(25, 24, 23);
    background-color: transparent;
}

.an-btn.daf{
    display: inline-block;
    position: relative;
    font-size: 1rem;
    text-transform: none;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0,1px;
    line-height: 24px;
    border: 1px solid transparent;
    cursor: pointer;
    color: rgb(25, 24, 23);
    /* transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.button-wrapper{
    border: none;
    outline: none;
    box-shadow: none;
}
.cols-x {
    flex-basis: 100%;
    max-width: 100%;
    padding-right: .375rem;
    padding-left: .375rem;
}

footer{
    background-color: rgb(25, 24, 23);
}

.-padded{
    padding-top: 30px;
    padding-bottom: 60px;
}

.footer-container{
    padding: 0px 20px;
}

.foot-col{
    order: 2;
}

.hkt.foot-internal{
    margin-top: 30px;
}

.cols-m{
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
}

.jqe.is-foot button.acc-btn{
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding: 0px;
    cursor: pointer;

}

.jqe.is-foot .head{
    padding: 6px 0px;
    /* transition: 0.2s ease-in-out; */
    color: rgb(255, 255, 255);
}

.irk.o-footer .h5{
    color: rgb(255, 255, 255)
}

.jqe .head{
    position: relative;
    margin: 0px;
}

.jqe.is-foot .active::after{
    content: "";
    position: absolute;
    left: 99%;
    top: 15px;
    width: 9px;
    height: 6px;
    background: url(/img/chevron-down-white.svg) 50% 50% no-repeat;
    font-family: "icon";
}


.col-x7{
    flex-basis: 58.33333333%;
    /* max-width: 58.33333333%;
    flex: 0 0 auto;
    padding-right: .375rem;
    padding-left: .375rem; */
}

.kld.foot-links .lang{
    margin-top: 30px;
    margin-bottom: 30px;
}

.eng-display{
    text-align: left;
}

.cvw.country .count-country{
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
    width: 100%;
}

.cvw.country .count-country .flag{
    display: flex;
    position: relative;
}

.cvw.country .count-country .flag-symbol{
    width: 43px;
    height: 32px;
}


.cvw.country .count-country .lang-local{
    margin-left: 8px;
    color: rgb(252, 250, 238);
}

.cvw.country .count-country .lang-local .country-display .eng-display {
    text-align: left;
}

.b3a{
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.1px;
    font-weight: 700;
}

.b3{
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.1px;
    font-weight: 400;
    font-family: "Bregular";
}


.country-display::after{
    content: "";
    position: absolute;
    left: 110%;
    top: 8px;
    background: url(img/chevron-down-white.svg) 50% 50% no-repeat;
    width: 9px;
    height: 6px;
    font-family: "icon";
}

.eze.foot-copy{
    margin-top: 120px;
    color: rgb(252, 250, 238);
}

.symbol{
    width: 42px;
    height: 32px;
}

.empty-cart{
    margin-top: 5px;
}
.nav-indicator{
    left: 828px;
    width: 170px;
}

.foot-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 20px; */
}

/* .foot-grid {
    column-count: 2;
    column-gap: 40px; 
  }
  
  .foot-internal {
    break-inside: avoid;
    margin-bottom: 16px; 
  } */
.close{
    display: none;
}
.img-p{
    display: none;
}

.find-loc{
    display: none;
}

.edg.nav-popup .content-wrapper{
    transition: left 300ms cubic-bezier(0.65, 0, 0.35, 1);
    /* height: 100%; */
    width: 100vw;
    background-color: white;
    top: 0px;
    position: fixed;
    min-width: 280px;
}

.edg.nav-popup .content-wrapper .header-cart{
    display: flex;
    align-items: center;
    position: absolute;
    right: 24px;
    top: 24px;
}

/* .hkz.a-nav.navmenu.navopen{
    width: unset;
} */

.k-btn.a-nav-toggle.nav-menu.alt.navopen em{
    display: none;
}

.edg.nav-popup .content-wrapper .header-cart .menu-label{
    display: none;
}

.hkz.a-nav{
    position: relative;
    background: none;
    height: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px;
}

.edg.nav-popup .content-wrapper .popup-content{
    padding: 40px 0px;
}

.wrong{
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 11px;
}

.navigation-items-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(-148px + 100dvh);
    padding: 0px 20px;
    overflow: hidden auto;
    scroll-behavior: smooth;
    scrollbar-color: rgb(25, 24, 23) rgb(255, 255, 255);
    scrollbar-width: thin;
} 

.nav-links{
    list-style: none;
    padding: 0px;
    margin: 0px 0px 32px;
}

.nav-links li{
    margin-bottom: 8px;
}

.eal.a-navigationpop{
    overflow: hidden;
    display: flex;
    align-items: center;
}

.b1{
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 0.2px;
    font-weight: 400;
}

.nav-popup {
    display: none;  /* Hide by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    overflow-y: auto;
    
}


.eal.a-navigationpop  .navigation-link-anchor{
    position: relative;
    color: rgb(25, 24, 23);
    background-image: linear-gradient(rgb(25, 24, 23), rgb(25, 24, 23));
    background-position: left bottom;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    padding-bottom: 4px;
    transition: background-size 400ms;
    display: inline-block;
    translate: none;
    rotate: none;
    scale: none;
}

.navigations-bottom:last-child{
    margin-bottom: 16px;
}

.bottom-nav li{
    margin-bottom: 8px;
}

.horizontal{
    border-right-color: rgb(229, 229, 229);
    border-bottom-color: rgb(229, 229, 229);
    border-left-color: rgb(229, 229, 229);
    width: 100vw;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    margin-left: -16px;
    border-top: 1px;
    min-width: 280px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.nav-footer .profile-btn .btn-cta{
    background: none;
    height: 32px;
    min-width: 32px;
    width: auto;
    padding: 0px;
    justify-content: center; 
    display: flex; 
    cursor: pointer;
}
.nav-footer{
    position: static;
    padding: 0px 20px 32px;
}

.store-locater{
    display: flex;
    margin-bottom: 8px;
}

.lo-img {
    display: flex;
    align-items: center;
}

.lo-img img{
    margin-right: 8px;
}

.store-label{
    display: flex;
    position: relative;
    color: rgb(25, 24, 23);
}

@media (min-width: 474px) {
    .country-display::after{
        left: 37%;
    }
    .img-p{
        display: none;
    }
    .find-loc{
        display: none;
    }
}

@media (min-width: 768px) {
    .foot-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    [class*=col-] {
        padding-right: .75rem;
        padding-left: .75rem;
    }

    .b3a {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
   
    .country-display::after{
        left: 40%;
    }

    .dqz.product-o .-catePage{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
        margin-top: 30px;
    }
    
    .dqz.product-o .-catePage .gridp{
        /* grid-column: span 12; */
        margin: 16px;
        padding: 16px;
        background: rgb(250, 250, 250);
        min-width: 0vw;
      
    }

    .dqz.product-o .-catePage{
        margin-top: 20px;
    }

    .img-p{
        display: none;
    }

    .find-loc{
        display: none;
    }

    .hkt.foot-internal{
        margin-right: 30px;
    } *


    .cgk.a-filterTab{
        margin-right: clamp(16px, 3vw, 48px);
    }

    .col-sm5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 35.66666667%;
    }

    /* .row {
        margin-left: -.75rem;
        margin-right: -.75rem;
        display: flex;
        flex-wrap: wrap;
    } */
    /* .col-snm4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    } */

    .footer-container{
        padding: 0px 16px;
    }
    /* .dqz.product-o .-catePage .gridp{
        grid-column: span 12;
        margin: 8px;
        padding: 8px;
        background: rgb(250, 250, 250);
        min-width: 70vw;
    } */
    
}

@media (min-width: 1024px){
    h5{
        font-size: 0.875rem;
        line-height: 1.5rem;
    }

    .country-display::after{
        left: 84%;
    }
    
    .col-offset{
        margin-left: 0px
        
    }

    

    .col-m{
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .dqz.product-o .-catePage{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: dense;
        margin-top: 30px;
    }

    .dqz.product-o .-catePage{
        min-height: 28vw;
        max-height: 30vw;
        padding: 12px;
    }

    .jnv.text-icon{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .roww {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; 
        margin-left: 0;  
        margin-right: 0;
    }
    
    .container {
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto; 
        margin-right: auto;
        max-width: 1200px; 
    }
    
    .bpz{
        padding-left: 36px;
        padding-right: 36px;
    }

    .head-2.header-o .header-content{
        padding: 0px 36px;
        height: 100px;
    }

    .img-p{
        display: inline;
       
    }

    .imgpro{
        margin-top: 5px;
    }

    .profile-wrapper .btn-p{
        margin-right: 8px;
    }

    .profile-wrapper .btn-p img{
        height: 32px;
        width: 32px;
        background: white;
    }

    .store-loc .find-loc{
        margin-right: 8px;
    }

    .store-loc .find-loc img{
        height: 32px;
        width: 32px;
        background: white;
    }
    
    .find-loc{
        display: inline;
    }

    .fH.m-filter .gradinet-left{
        min-width: 36PX;
    }

    .head-2.header-o .header-content{
        padding: 0px 36px;
        height: 116px;
    }

    .dfs.m-catetitle .t-category-wrapper{
        padding: 40px 4px;
    }
    /* .rows{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .rows{
        grid-template-columns: repeat(2, 1fr);
    } */

    .h4{
        font-size: 1.5rem;
        line-height: 2.25rem;
    }

    .dfs.m-catetitle .count {
        margin-bottom: -2px;
        padding-bottom: 0px;
    }
   
    .nav-indicator{
        left: 900px;
    }

    .footer-container{
        padding: 0px 48px;
    }

    /* .col-lg{
        flex-basis: 75%;
        
    } */

    .col-lg {
        flex: 1 0 20%;
       
      }
      

    .col-lg2{
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    
    }

    .foot-col{
        order: unset;
    }

    .hkt.foot-internal {
        margin-right: 68px;
    }

    .row {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    
    .col-sm5{
        max-width: 21.666667%;
    }

    /* .col-logoff{
        margin-left: 8.33333333%;
    } */
}